<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="12000" maxRequestLength="2000000000" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%"
        stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout"
        forwardWindowsAuthToken="false"/>
   <security>
      <requestFiltering>
        <!-- Clearing hidden segments and file extensions is done to allow Package IDs with ".vb", ".config", etc.
                in their name to be served. As a result, we disable static file serving above. DO NOT change these settings
                without a security review -->
        <fileExtensions>
          <clear />
        </fileExtensions>
        <hiddenSegments>
          <clear />
        </hiddenSegments>
        <!-- maxAllowedContentLength = 250MB * 1024 * 1024 = 262144000 -->
        <requestLimits maxQueryString="12000" maxAllowedContentLength="262144000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>